<div class="container mt-2">
  <ng-container *ngIf="customers | async as listCustomers; else failureOrLoading">
    <div class="card">
      <div class="card-header">
        <h3>Customers</h3>
      </div>
      <div class="card-body">
      <div *ngIf="searchFormGroup">
  
        <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
          <div class="input-group">
            <label class="input-group-text" for="keyword">Keyword</label>
            <input type="text" class="form-control" formControlName="keyword">
            <button class="btn btn-info" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
      </div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Customer ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Actions</th>

  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers | async">
              <td>{{ customer.id }}</td>
              <td>{{ customer.name }}</td>
              <td>{{ customer.email }}</td>
              <td>
                <button (click)="handleDeleteCustomer(customer)" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLoading >
    <ng-container *ngIf="errorMessage; else loading">
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading...
    </ng-template>
   
  </ng-template>
  

</div>
